{% extends 'main.html' %}
{% block content %}
{% load static %}
    <script src="{% static 'js/cheat_boss.js' %}"></script>
<div style="background-color: grey; float: left; width:100px; padding:10px;">
    <button onclick=ab()> 1 관 문</button>
    <button onclick=SecondPhase(this.name) name = '{{ csrf_token }}'> 2 관 문</button>
    <button onclick=thirdPhase()> 3 관 문</button>


</div>

<div style=" width: 33%; padding:10px;">
    <h1 id="name">비아키스</h1>
</div>



{%endblock%}
{%block script%}

<script src="{% static 'js/cheat_boss.js' %}"></script>
<script>
    

    function thirdPhase(){
        title = '통신 연습한곳'
        content = '통신 어려웡'
        a = document.getElementById("name");
        let param = {
            'title':title,
            'content' : content,
        } 
        console.log('{{ csrf_token }}')

        $.ajax({
            url : '{%url 'test'%}',
            type : 'POST',
            headers: {
                'X-CSRFTOKEN' : '{{ csrf_token }}'
            },
            data : JSON.stringify(param),
            success: function(data){
                alert(data['title']);
                alert(data['content']);
            },
            error: function(){
                alert('error');
            }
        });
    
    }
</script>
{% endblock %}